ClientWebService.Tests/Connected Services/SubService/SubscriptionWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58950/SubscriptionWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClientManagementWebService" />
  <xs:element name="GetRenewalDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ClientManagementWebService" minOccurs="0" name="clientInfo" nillable="true" type="q1:ClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRenewalDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRenewalDateResult" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ClientManagementWebService" minOccurs="0" name="RegisterProductResult" nillable="true" type="q2:RegistrationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegistrationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegistrationInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ClientManagementWebService" minOccurs="0" name="GetRegistrationInfoResult" nillable="true" type="q3:RegistrationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>