ClientWebService.Tests/Connected Services/SubService/SubscriptionWebService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClientManagementWebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClientManagementWebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClientInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="LifetimeAccountsVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LifetimeVersion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientInfo" nillable="true" type="tns:ClientInfo" />
  <xs:complexType name="RegistrationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="FirstRegisteredDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NoOfLicenses" type="xs:int" />
      <xs:element minOccurs="0" name="RegisteredTo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrationInfo" nillable="true" type="tns:RegistrationInfo" />
</xs:schema>