ClientWebService.Tests/Connected Services/SubService/SubscriptionWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SubscriptionWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58950/SubscriptionWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58950/SubscriptionWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58950/SubscriptionWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClientManagementWebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISubscriptionWebService_GetRenewalDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRenewalDate" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionWebService_GetRenewalDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRenewalDateResponse" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionWebService_RegisterProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterProduct" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionWebService_RegisterProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterProductResponse" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionWebService_GetRegistrationInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistrationInfo" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionWebService_GetRegistrationInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistrationInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="ISubscriptionWebService">
    <wsdl:operation name="GetRenewalDate">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionWebService/GetRenewalDate" message="tns:ISubscriptionWebService_GetRenewalDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionWebService/GetRenewalDateResponse" message="tns:ISubscriptionWebService_GetRenewalDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionWebService/RegisterProduct" message="tns:ISubscriptionWebService_RegisterProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionWebService/RegisterProductResponse" message="tns:ISubscriptionWebService_RegisterProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegistrationInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionWebService/GetRegistrationInfo" message="tns:ISubscriptionWebService_GetRegistrationInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionWebService/GetRegistrationInfoResponse" message="tns:ISubscriptionWebService_GetRegistrationInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISubscriptionWebService" type="tns:ISubscriptionWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRenewalDate">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionWebService/GetRenewalDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterProduct">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionWebService/RegisterProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegistrationInfo">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionWebService/GetRegistrationInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubscriptionWebService">
    <wsdl:port name="BasicHttpBinding_ISubscriptionWebService" binding="tns:BasicHttpBinding_ISubscriptionWebService">
      <soap:address location="http://localhost:58950/SubscriptionWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>